<section class="d-flex flex-column align-items-center">
  <h1 style="color: #1b357e">Dashboard Ford</h1>
  <div class="container d-flex flex-wrap justify-content-between gap-3">
    <div class="card border-2 mb-3">
      <div class="card-header">Veículo</div>
      <div class="card-body">
        <form class="formulario" [formGroup]="selectCarForms">
          <select
            formControlName="carId"
            class="form-select form-select-lg text-dark"
            name=""
            id=""
          >
            <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
              {{ vehicle.vehicle }}
            </option>
          </select>
        </form>
      </div>
    </div>
    <app-card
      [title]="'Total de Vendas'"
      [value]="selectedVehicle.volumetotal"
    />
    <app-card [title]="'Conectados'" [value]="selectedVehicle.connected" />
    <app-card
      [title]="'Update Software'"
      [value]="selectedVehicle.softwareUpdates"
    />
  </div>
  <img src="{{ selectedVehicle.img }}" alt="" />
  <div>
    <form
      class="formulario d-flex row g-3 align-items-center"
      [formGroup]="vinForm"
    >
      <div class="col-auto">
        <label for="inputVin" class="col-form-label">Codigo - Vin: </label>
      </div>
      <div class="col-auto">
        <input
          type="text"
          id="inputVin"
          class="form-control"
          formControlName="vin"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" (click)="consultarDadosPorVin()">
          Consultar
        </button>
      </div>
    </form>
    <app-table [data]="vehicleData" [errorMessage]="errorMessage" />
  </div>
</section>
